@font-face {
  font-family: westy;
  src: url('fontsstorage/WEST____.TTF');
}
html {
  background-image: url('css img/hWCGHK.jpg');
}
body {
  font-family: westy;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url('css img/vintage-western-wallpaper.jpg');
  background-position-x:50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: padding-box;
  min-height: 100%;
  height: 100%;
}
img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: 220px;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 50%;
}
#h2 {
  font-family: westy;
  font-size: 55px;
}
section {
  border-top: none;
  border-bottom: none;
  border-radius: 10%;
  padding-top: 80px
}
h2 {
  font-family: sans-serif;
  margin: 0;

  text-align: center;
}
section p {
  margin: 0;

  margin-top: 30px;

  text-align: center;
}
canvas {
  margin-left: 85px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 40px;
  margin-top: 20px;
}
.headerContent {
margin-top: 0;
margin-left: 40%;
border-radius: 4%;
width:20%;

}
